/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 23, 2018, 5:48:34 AM
    Author     : ANONYMOUS
*/
a {color: red; text-decoration: none;}
th {font-family: Times New Roman; color: white}
td {font-family:  Times New Roman;}
div {margin: auto; text-align: center;}
table {margin-top: 10px; margin-bottom: 10px}
